<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3w3UCgcVqMboBCDZI0erw3uMhv3m1PC4</string>
	<key>GCM_SENDER_ID</key>
	<string>588565743210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.bcit.webmobile</string>
	<key>PROJECT_ID</key>
	<string>nursetask-1cd2b</string>
	<key>STORAGE_BUCKET</key>
	<string>nursetask-1cd2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588565743210:ios:84ebfb58129685cc38ac13</string>
	<key>DATABASE_URL</key>
	<string>https://nursetask-1cd2b-default-rtdb.firebaseio.com</string>
</dict>
</plist>